<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          {{#each user}}
          <div class="div">

            <p>
              <strong>ID</strong>: {{id}}</p>
            <p>
              <strong>Author Name</strong>: {{authorname}}</p>
            <p>
              <strong>Created At</strong>: {{createdAt}}</p>
            <p>
              <strong>Password</strong>: {{password}}</p>
            <p>
              <strong>Photo URL</strong>: {{photoURL}}</p>
            <p>
              <strong>Tags</strong>: {{tags}}</p>
            <p>
              <strong>Title</strong>: {{title}}</p>
            <p>
              <strong>Updated At</strong>: {{updatedAt}}</p>
            <p>
              <strong>Zip Code:</strong> {{zipcode}}</p>

            <img src={{photoURL}} />

          </div>

          {{/each}}
          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>