<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" enctype="multipart/form-data" action="/api/examples" method="POST">
          <div class="form-group">
            <label for="author">Author Name</label>
            <input type="text" id="example-author" name="authorname" class="form-control"
              aria-describedby="example-author" placeholder="Enter Example Author">
          </div>
          <div class="form-group">
            <label for="example-password">Example Password</label>
            <input type="text" id="example-password" name="password" class="form-control"
              aria-describedby="example-password" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-title">Example Title</label>
            <input type="text" id="example-title" name="title" class="form-control" aria-describedby="example-title"
              placeholder="Enter Example Title">
          </div>
          <div class="form-group">
            <label for="example-photoURL">Example Photo URL</label>
            {{!-- <input type="text" id="example-photoURL" class="form-control" aria-describedby="example-photoURL"
              placeholder="Enter Example URL"> --}}
            <input type="file" name="file">
          </div>

          <div class="form-group">
            <label for="example-tags">Example Tags</label>
            <input type="text" id="example-tags" name="tags" class="form-control" aria-describedby="example-tags"
              placeholder="Enter Example tags">
          </div>
          <div class="form-group">
            <label for="example-zipcode">Example Zip Code</label>
            <input type="text" id="example-zipcode" name="zipcode" class="form-control"
              aria-describedby="example-zipcode" placeholder="Enter Example Zip Code">
          </div>
          <button id="submit" type="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.authorname}}</a>
            <input class="form control" type="text"
              placeholder="{{this.id}}. {{this.authorname}} {{this.password}} {{this.title}} {{this.photoURL}} {{this.tags}} {{this.zipcode}}">
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/index.js"></script>